/*  Universal Styles */

* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

p {
    font-size: 22px;
}

h3 {
    font-size: 25px;
}





/*  Header Styles  */

.tea-cozy-logo {
    margin-left: 10px;
    height: 50px;
    align-self: center;
}

.page-header {
    display: flex;
    height: 69px;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: black;
    opacity: 100%;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
}

.topnav {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.topnav a {
    margin-right: 10px;
    margin-left: 10px;
}


/*   Page Hero Styles   */

.page-hero {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 50px;
    
}

.page-hero img {
    height: 700px;  
    max-width: 1200px; 
    margin-top: 63px;
    
}

.mission-banner {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 90px;
}


/* Tea of the Month */

.tea-image {
    height: 200px;
    width: 300px;
    margin-right: 20px;;
}

.tea-of-the-month-div {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    margin-bottom: 50px;
}

.tea-of-the-month-div > h2,
.tea-of-the-month-div > h4 {
    text-align: center;
}

.teas-of-the-month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-name {
    margin-top: 10px;
    text-align: center;
}

.individual-tea-div {
    display: flex;
    flex-direction: column;
    justify-items: center;  
    opacity: 1;
}


/*  Location Styles  */

.locations-div {
    display: flex;
    background-image: url(../images/locations-background.png);
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.locations-div > h2 {
    background-color: transparent;
    margin-bottom: 15px;
}

.location-container {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    opacity: 1;
}

.location {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin: 20px;
}


/*   Contact Styles */

.contact-div {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
}

.contact {
    margin-bottom: 10px;
}

/*  Footer Styles   */

footer {
    opacity: 0.9;
    text-align: left;
    margin-left: 20px;
    bottom: 0px;
}