/* PAGE COLORS */
/*  #545454 = DARK GRAY
    #e7e5e3 = SOFT WHITE
    #ff914d = ORANGE
    #0cc0df = AQUA BLUE
*/

/* 
Making images toggle to certain percentages 
in terms of width after a certain minimum screen size.
Using a @media rule to change page layout and 
behavior based on size breakpoints.
Employing responsive units em and rem to size 
and space elements with width and padding.
*/

    html {
        font-size: 18px;
        height: 100vh;
      }
       main {
        background-color: #e7e5e3; 
        overflow-x: hidden;
        width: 100%;
       }   
      
      
      /* HEADER Styles */
      
      header {
        width: 100%;
        text-align: center;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #545454;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
      }

      header img {
        height: 100px;
        width: 400px;
        
      }
      
      nav a {
        text-decoration: none;
        color: #e7e5e3;
        font-size: .9rem;
        margin: 0 10px;
      }
      
      nav a:hover {
        color: #ff914d;
        text-decoration: underline;
      }
      
      /*.WELCOME Styles */
      
      .welcome {
        margin-top: 135px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color:#ff914d;
        border: 6px solid #ff914d;
        
      }

      .welcome-title {
        background-color: #e7e5e3;
        width: auto;
        border-radius: 50px;
        margin: 20px;
        border: 5px solid #d96822;
      }
      
      .welcome h2 {
        font-size: 2rem;
        color: #0cc0df;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: -5px;
      }
      
      
      .welcome-text p {
        width: 600px;
        color: #36220a;
        font-size: 1.1rem;
      }

      .register {
        margin-bottom: 10px;
      }

      .btn {
        background-color: #545454;
        border: none;
        padding: 10px;
        border-radius: 5px;
        color: #e7e5e3;
        font-weight: bold;
      }

      .btn:hover {
        background-color: #0cc0df;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }

      .btn:active {
        transform: translateY(2px);
        box-shadow: 0 12px 5px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: #08879d;
      }
      
      
      /* GALLERY Styles */
      
      .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #545454;
        
      }
      
      .image {

        text-align: center;
        align-content: center;
        background-color: #0cc0df;
        margin: 30px;

      }

      .image img {
        height: 300px;
        width: 450px;
        padding: 10px;
      }
      
      /* QUOTE Styles */
      
      .testimonials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #0cc0df;
      }

      .quote {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;

      }
      
      blockquote {
        background-color: #1719b0;
        color: #d18e3b;
        text-align: center;
        padding: 10px;
      
      }

      .person {
        font-size: 1.2rem;
      }

      .date {
        font-size: .8rem;
      }
      
      .quote-text {
        font-size: 1.2rem;
      }

      .job {
        font-size: .8rem;
      }




      /* FOOTER Styles */

      footer {
        background-color: #545454;
        height: 80px;
        
      }

      footer p {
        text-align: center;
        line-height: 1px;
        padding-top: 20px;
      }
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      