* {
    font-family: 'Chakra Petch', sans-serif;
}

/* ----- Header ----- */

h1 {
    text-align: center;
    color: rgb(195, 245, 78);
    padding: 30px 20px;
}

header {
    background-image: url(../images/geometric-hive.png);
    height: 100px;
}

/* ----- Tables ----- */

table {
    border: 3px green solid;
    margin: auto;
}

th {
    color: rgb(195, 245, 78);
    background-image: url(../images/geometric-hive.png); 
}

td {
    background-color: rgb(224, 238, 193);
    border-top: 2px green solid;
}

h2 {
    text-align: center;
    
}

.html-tag {
    font-weight: bold;
    background-color: rgba(195, 245, 78, .8);
}

/* ----- Lists ----- */

.list {
    display: inline-block;
    margin: 20px;
    background-image: url(../images/geometric-hive.png);
    height: 300px;
    width: 180px;
    
}

li, .list h2 {
    color: rgb(195, 245, 78);
    color: rgb(195, 245, 78);
}

#list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* ----- Nav ----- */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgreen
}

nav li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: center;
}



